/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --title-color:#DB00FF;
  --text-shadow-color:#FF0070;
  --header_text-color:#000028;
  --header_text-bc:#FF0070;
  --background-image:url('../images/cover-image-dark.png');
  --title-content:#FF0070;
  --text-color:#F1B2CE;
  --title-card:#000028;
  --title-card-info:#000028;
  --color-button:#FF0070;
  --border-color:rgba(255, 0, 112, 0.40);
  --dot-color:#FF0070;
  --rec:block;
  --dot: '●';
  --background-color:#000028;
  --br-active:#FF0070;
  --button: #FF0070;
} 