/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: #ffc2e6;
  --text-shadow-color: #ff0070;
  --header_text-color: #353430;
  --header_text-bc: #ff8dcb;
  --header-image: url(../images/cover-image-light.png);
  --border-color: rgba(50, 49, 45, 0.4);
  --title-content: #353430;
  --text-color: #353430;
  --title-card: #353430;
  --title-card-info: #353430;
  --color-button: #353430;
  --decor: #353430;
  --rec: none;
  --dot_1: "";
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
  }
}
