/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
html, body {
  margin: 0;
  padding: 0;
} 

/* min-inline-size: 360px;
margin: 0;
color: var(--text-color);
font-family: var(--main-font, monospace);
font-size: 18px;
background: var(--bg-color);
background-image: var(--background-image);
background-repeat: no-repeat;
background-position: center;
background-size: cover; */
.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--background-color);
  background-attachment: fixed;
  display: table;
  object-fit: cover;
}

/* padding: 20px;
margin-bottom: 60px;
  height: 100vh; */
.header {
  background-image: var(--background-image);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
    height: 100vh;
  width: 100%;
  @media (width < 400px) {
    grid-template-rows: 230px 247px 167px;
    padding: 10px 10px 10px 0;
    height: 678px;
    width: 375px;
  }

  @media (width > 400px) and (width < 1000px) {
    grid-template-rows: 270px 300px;
    padding: 20px 20px 0px 20px;
    width: 768px;
    height: 1085px;
  }

  @media (width > 1000px) {
    grid-template-rows: 300px 244px 160px 25px;
    padding: 20px 20px 0px 20px;
    height: 768px;
    width: 1024px;
  }
}

.REC {
  color: #ff0070;
  display: var(--rec);
}

.elements {
  @media (width > 400px) and (width < 1000px) {
    height: 26px;
    display: flex;
    flex-direction: column;
    gap: 147px;
    align-items: flex-end;
  }

  @media (width > 1000px) {
    height: 26px;
    display: flex;
    flex-direction: row-reverse;
    /* gap: 329px; */
    align-items: center;
    justify-content: flex-start;
  }
}

.elements_decor {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.dot_wrapper {
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-inline-end: 1px solid var(--color-button);
  justify-content: center;
  align-items: center;
  color: var(--dot);
}

.dot_wrapper::after {
  content: var(--dot_1);
}

.left_corner {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
  @media (width < 400px) {
    margin-left: 10px;
    margin-top: -20px;
  }
  @media (width > 400px) and (width < 1000px) {
    margin-top: 138px;
    margin-bottom: 80px;
  }
}

.right_wrapper {
  display: flex;
  justify-content: right;
  height: 25px;
}

.right_corner {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-inline-end: 1px solid var(--color-button);
  margin-top: 80px;
  @media (width < 400px) {
    margin-right: 10px;
    margin-top: 50px;
  }
  @media (width > 400px) {
    margin-right: 20px;
  }
}

.header__theme-menu-button {
  color: var(--color-button);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  background: none;
  border: none;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color);
}

.header__theme-menu {
  display: flex;
  @media (width < 1000px) {
    justify-content: flex-end;
    margin-right: 0;
  }
  margin-right: 34%;
  @media (width < 400px) {
    margin-top: 40px;
  }
}

.header__theme-menu-list {
  @media (width > 400px) and (width < 1000px) {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  @media (width < 400px) {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  @media (width > 1000px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.title_focus {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--text-shadow-color);
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;

  @media (width < 400px) {
    font-size: 116px;
    margin-left: 10px;
    /* margin-top: 58px; */
  }

  @media (width > 400px) and (width < 1000px) {
    font-size: 120px;
    margin-top: 183px;
    margin-left: -20px;
  }

  @media (width > 1000px) {
    margin-left: -20px;
  }
}

.header_text {
  color: var(--header_text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: center;

  @media (width < 400px) {
    max-width: 355px;
    max-height: 117px;
    margin-left: 10px;
  }

  @media (width > 400px) and (width < 1000px) {
    max-width: 364px;
    max-height: 117px;
    justify-self: end;
    margin-top: 138px;
  }

  @media (width > 1000px) {
    max-width: 491px;
    max-height: 71px;
    justify-self: end;
  }
}

.first_card_wrapper {
  @media (width < 400px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 355px;
  }
  @media (width > 400px) and (width < 1000px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 19px;
    width: 728px;
    margin-left: 20px;
  }
  @media (width > 1000px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 19px;
    width: 984px;
    margin-top: 60px;
  }
}

.title_content {
  grid-row: 1 / -1;
  color: var(--title-content);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  @media (width < 400px) {
    /* margin-top: ; */
  }
  @media (width > 400px) and (width < 1000px) {
    width: 236px;
  }
  @media (width > 1000px) {
    margin-left: 20px;
    /* margin-top: ; */
    width: 315px;
  }
}

.first_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  @media (width > 400px) and (width < 1000px) {
    width: 472px;
    grid-template-rows: 23px auto auto;
  }
  @media (width < 400px) {
    grid-template-rows: 23px auto auto;
    margin-top: 20px;
  }
  @media (width > 1000px) {
    width: 649px;
    grid-template-rows: 23px auto auto;
  }
}

.second_card {
  @media (width > 400px) and (width < 1000px) {
    width: 728px;
  }
  @media (width > 1000px) {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 1fr;
    gap: 20px;
    width: 728px;
  }
}

.second_card_wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  @media (width < 400px) {
    grid-template-columns: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 355px;
  }
  @media (width > 400px) and (width < 1000px) {
    /* margin-top: -10px; */
    width: 728px;
  }
  @media (width > 1000px) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    width: 984px;
  }
}

.second_card_title {
  grid-column: 1 / -1;
  color: var(--title-content);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 10px;
  margin-top: 80px;
  @media (width < 400px) {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  @media (width > 400px) and (width < 1000px) {
    width: 236px;
    margin-top: 65px;
    margin-bottom: 0px;
  }
  @media (width > 1000px) {
    width: 315px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

.margin_top {
  @media (width < 400px) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media (width > 400px) and (width < 1000px) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media (width > 1000px) {
    margin-bottom: 10px;
  }
}

.content_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  @media (width < 400px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 355px;
  }
  @media (width > 400px) and (width < 1000px) {
    width: 728px;
  }
}

.card_second {
  @media (width < 400px) {
    margin-top: -10px;
  }
  @media (width > 400px) and (width < 1000px) {
    width: 472px;
  }
}

.content_info_title {
  grid-row: 1 / -1;
  color: var(--title-content);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  @media (width > 400px) {
    margin-left: 20px;
    width: 236px;
  }
  @media (width < 400px) {
    margin-top: -40px;
    height: 70px;
  }
}

.pictures_wrapper {
  display: grid;
  grid-column: 1 / -1;
  @media (width > 400px) and (width < 1000px) {
    width: 728px;
    margin-top: 59px;
    gap: 20px;
  }
  @media (width < 400px) {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 355px;
  }
  @media (width > 400px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (width > 1000px) {
    margin-top: 90px;
    gap: 20px;
  }
}

.pictures {
  @media (width < 400px) {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: 142px 355px 237px 355px 237px;
    grid-template-areas:
      "image_1"
      "image_2"
      "image_3"
      "image_4"
      "image_5";
  }
  @media (width > 1000px) {
    display: grid;
    gap: 20px;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 260px 315px 428px;
    grid-template-areas:
      "image_1 image_1 image_2"
      "image_3 image_4 image_2"
      "image_3 image_5 image_5";
  }
  @media (width > 400px) and (width < 1000px) {
    display: grid;
    gap: 20px;
    grid-template-columns: 229px 230px 230px;
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "image_1 image_1 image_2"
      "image_3 image_4 image_2"
      "image_3 image_5 image_5";
  }
}

.pictures img {
  width: 100%;
  height: 100%;
}

.image_1 {
  @media (width < 400px) {
    object-fit: cover;
  }
  grid-area: image_1;
  object-fit: contain;
}

.image_2 {
  grid-area: image_2;
  object-fit: cover;
}
.image_3 {
  grid-area: image_3;
  object-fit: cover;
}
.image_4 {
  grid-area: image_4;
}

.image_5 {
  grid-area: image_5;
}

.text {
  color: var(--text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  @media (width < 400px) {
    margin-bottom: 10px;
  }
}

.title_card {
  color: var(--title-card);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
  /* margin-bottom: 20px; */
  @media (width < 400px) {
    height: 23px;
  }
  @media (width > 400px) and (width < 1000px) {
    height: 23px;
  }
  @media (width > 1000px) {
    height: 23px;
    /* margin-bottom: 20px; */
  }
}

.title_card_margin {
  @media (width > 400px) and (width < 1000px) {
    margin-top: 10px;
  }
  @media (width > 1000px) {
    margin-top: 10px;
  }
}

.title_card_second {
  @media (width < 400px) {
    height: 47px;
  }
}

.title_card_info {
  color: var(--title-card-info);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
  margin-block-start: 20px;
  margin-bottom: 10px;
}

.footer {
  position: relative;
  display: grid;
  height: 100%;
  @media (width < 400px) {
    grid-template-rows: 25px 347px 25px;
    padding: 10px 10px 10px 10px;
    height: 678px;
    width: 375px;
  }

  @media (width > 400px) and (width < 1000px) {
    grid-template-rows: 25px 570px 25px;
    padding: 20px 20px 20px 20px;
    width: 768px;
    height: 1085px;
  }

  @media (width > 1000px) {
    grid-template-rows: 25px 404px 25px;
    padding: 20px 20px 20px 20px;
    height: 768px;
    width: 1024px;
  }
}
.footer_title {
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  @media (width < 400px) {
    font-size: 116px;
    margin-top: 270px;
    height: 96px;
  }
  @media (width > 400px) and (width < 1000px) {
    margin-top: 418px;
    margin-left: 180px;
    font-size: 120px;
  }
  @media (width > 1000px) {
    margin-top: 264px;
    margin-left: 277px;
  }
}
.right_corner_second {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-right: 1px solid var(--color-button);
  @media (width < 400px) {
    margin-left: 330px;
  }
  @media (width > 400px) and (width < 1000px) {
    margin-left: 705px;
  }
  @media (width > 1000px) {
    margin-left: 959px;
  }
}

.left_wrapper {
  display: flex;
  height: 25px;
}

.left_corner_second {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
  @media (width < 400px) {
    margin-top: 225px;
  }
  @media (width > 400px) and (width < 1000px) {
    margin-top: 397px;
    /* margin-left: 20px; */
  }
  @media (width > 1000px) {
    margin-top: 264px;
    /* margin-left: 20px; */
  }
}
