/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: auto;
  font-family: var(--standart-ff);
}

.header {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-columns: 25px 1fr 1fr 25px;
  @media (width < 400px) {
    grid-template-rows: 4fr 4fr 1fr 1fr;
    padding: 10px 10px 10px 10px;
    min-height: 668px;
  }
  @media (width >= 400px) and (width < 1000px) {
    grid-template-rows: 1fr 8fr 1fr 3fr;
    padding: 20px 20px 20px 20px;
    min-height: 1024px;
  }
  @media (width >= 1000px) {
    grid-template-rows: 1fr 7fr 1fr 2fr;
    padding: 20px 20px 0px 20px;
    min-height: 768px;
  }
}

.REC {
  position: absolute;
  padding-right: 35px;
  color: #ff0070;
  display: var(--rec);
  font-family: var(--standart-ff);
}

.elements {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  @media (width >= 400px) and (width < 1000px) {
    gap: 147px;
    flex-direction: column;
  }
  @media (width >= 1000px) {
    flex-direction: row-reverse;
    align-items: start;
  }
}

.elements_decor {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.dot_wrapper {
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-inline-end: 1px solid var(--color-button);
  justify-content: center;
  align-items: center;
  color: var(--dot-color);
}

.dot_wrapper::after {
  content: var(--dot);
}

.left_corner {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
  align-self: flex-end;
  grid-row: 4;
}

.right_wrapper {
  display: flex;
  justify-content: right;
  height: 25px;
}

.right_corner {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-inline-end: 1px solid var(--color-button);
  margin-block-start: 80px;
  @media (width < 400px) {
    margin-right: 10px;
    margin-block-start: 50px;
  }
  @media (width >= 400px) {
    margin-right: 20px;
  }
}

.header__theme-menu-button {
  color: var(--color-button);
  text-align: center;
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  background: none;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  border: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--br-active);
}

.header__theme-menu-button:focus {
  border: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border-color: var(--border-color);
}

.header__theme-menu {
  display: flex;
  @media (width >= 1000px) {
    margin: 0 auto 0 auto;
  }
  @media (width < 1000px) {
    justify-content: flex-end;
    margin-right: 0;
  }
  @media (width < 400px) {
    margin-block-start: 40px;
  }
}

.header__theme-menu-list {
  display: flex;
  @media (width >= 400px) and (width < 1000px) {
    gap: 15px;
    flex-direction: column;
  }
  @media (width < 400px) {
    gap: 15px;
    flex-direction: column;
  }
  @media (width >= 1000px) {
    flex-direction: row;
    gap: 10px;
  }
}

.title_focus {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--text-shadow-color);
  font-family: var(--standart-ff);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  display: flex;
  grid-column: 1 / -1;
  @media (width < 400px) {
    font-size: 116px;
  }
  @media (width >= 400px) and (width < 1000px) {
    font-size: 120px;
    margin-block-start: 183px;
    margin-left: -20px;
  }
  @media (width >= 1000px) {
    justify-self: start;
    align-items: center;
    margin-left: -20px;
  }
}

.header_text {
  color: var(--header_text-color);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
  justify-self: center;
  @media (width < 400px) {
    grid-column: 1 / -1;
  }
  @media (width >= 400px) and (width < 1000px) {
    grid-row: 3;
    grid-column: 3 / -1;
    justify-self: end;
  }
  @media (width >= 1000px) {
    grid-row: 3;
    grid-column: 3 / -1;
    justify-self: end;
  }
}

.first_card_wrapper {
  display: grid;
  margin: auto;
  @media (width < 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-block-start: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (width >= 400px) and (width < 1000px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    padding: 0 20px 0 20px;
    gap: 20px;
  }
  @media (width >= 1000px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 19px;
    margin-block-start: 60px;
    padding: 0 20px 0 20px;
  }
}

.title_content {
  grid-row: 1 / -1;
  color: var(--title-content);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.first_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 23px auto auto;
  gap: 10px;
  @media (width < 400px) {
    margin-block-start: 20px;
  }
}

.second_card {
  @media (width >= 400px) and (width < 1000px) {
    grid-column: 1 / -1;
  }
  @media (width >= 1000px) {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

.second_card_wrapper {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding-bottom: 80px;
  @media (width < 400px) {
    grid-template-columns: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (width >= 400px) and (width < 1000px) {
    grid-template-columns: 1fr 3fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  @media (width >= 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.second_card_title {
  grid-column: 1 / -1;
  color: var(--title-content);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  @media (width < 400px) {
    margin-block-start: 40px;
  }
  @media (width >= 400px) and (width < 1000px) {
    grid-column: 1;
    margin-block-start: 65px;
  }
  @media (width >= 1000px) {
    grid-column: 1;
    margin-block-start: 60px;
    margin-bottom: 20px;
  }
}

.top_wrapper {
  margin-bottom: 10px;
  @media (width < 400px) {
    margin-block-start: 20px;
  }
  @media (width >= 400px) and (width < 1000px) {
    margin-block-start: 20px;
  }
}

.content_info {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media (width < 400px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
  }
}

.content_info_title {
  grid-row: 1 / -1;
  color: var(--title-content);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  @media (width < 400px) {
    padding-bottom: 10px;
    margin-block-start: -40px;
  }
}

.pictures_wrapper {
  display: grid;
  margin: auto;
  grid-column: 1 / -1;
  @media (width >= 400px) and (width < 1000px) {
    margin-block-start: 59px;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (width < 400px) {
    margin-block-start: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (width >= 1000px) {
    margin-block-start: 63px;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pictures {
  @media (width < 400px) {
    margin-block-start: 10px;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "image_1"
      "image_2"
      "image_3"
      "image_4"
      "image_5";
  }
  @media (width >= 1000px) {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "image_1 image_1 image_2"
      "image_3 image_4 image_2"
      "image_3 image_5 image_5";
  }
  @media (width >= 400px) and (width < 1000px) {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "image_1 image_1 image_2"
      "image_3 image_4 image_2"
      "image_3 image_5 image_5";
  }
}

.pictures img {
  width: 100%;
  height: 100%;
}

.image_1 {
  @media (width < 400px) {
    object-fit: cover;
  }
  grid-area: image_1;
  object-fit: contain;
}

.image_2 {
  grid-area: image_2;
  object-fit: cover;
}
.image_3 {
  grid-area: image_3;
  object-fit: cover;
}
.image_4 {
  grid-area: image_4;
}

.image_5 {
  grid-area: image_5;
}

.text {
  color: var(--text-color);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  @media (width < 400px) {
    margin-bottom: 10px;
  }
}

.title_card {
  color: var(--title-card);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
}

.title_card_top {
  @media (width >= 400px) and (width < 1000px) {
    margin-block-start: 10px;
  }
  @media (width >= 1000px) {
    margin-block-start: 10px;
  }
}

.title_card_info {
  color: var(--title-card-info);
  font-family: var(--standart-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--header_text-bc);
  margin-block-start: 20px;
  margin-bottom: 10px;
}

.footer {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: 25px auto 25px;
  grid-template-columns: 25px auto 25px;
  @media (width < 400px) {
    padding: 50px 10px 10px 10px;
    min-height: 668px;
  }
  @media (width >= 400px) and (width < 1000px) {
    padding: 80px 20px 20px 20px;
    min-height: 1024px;
  }
  @media (width >= 1000px) {
    padding: 80px 20px 20px 20px;
    min-height: 768px;
  }
}
.footer_title {
  grid-column: 2 / -1;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  font-family: var(--standart-ff);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width < 400px) {
    font-size: 116px;
    grid-column: 1 / -1;
  }
  @media (width >= 400px) and (width < 1000px) {
    font-size: 120px;
  }
}
.right_corner_second {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-inline-end: 1px solid var(--color-button);
  grid-column: 3;
}

.left_wrapper {
  display: flex;
  height: 25px;
}

.left_corner_second {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
  grid-row: 3;
}

.link:focus {
  outline: none;
}

.link:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--text-shadow-color);
}

.link:focus-visible {
  border: 1px solid currentColor;
}
