
:root {
  /* Переменные тёмной темы */
  --title-color:#DB00FF;
  --text-shadow-color:#FF0070;
  --header_text-color:#000028;
  --header_text-bc:#FF0070;
  --header-image:url('../images/cover-image-dark.png');
  --border-color:#32312D66;
  --title-content:#FF0070;
  --text-color:#F1B2CE;
  --title-card:#000028;
  --title-card-info:#000028;
  --color-button:#FF0070;
  
  --decor:#ff0070; 
  --rec:#FF0070;
  --dot: #FF0070;
  --dot_1: '●';
}
